.main-content{
	padding: 1rem 0;
}

.table-container {
    width: 100%;
    overflow-x: auto;
	gap: 1rem;
}


.btn-update {
    margin-right: 0.5rem;
    color: rgb(228, 174, 11);
}

.btn-delete {
    color: red;
}

.msg-empty {
    color: #e06262;
    text-align: center;
    padding: 2rem;
}

.msg-empty mat-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}

.status-icon {
    vertical-align: middle;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

/* Estilos para la paginación */
.custom-paginator {
    margin-top: 0.5rem;
    background: transparent;
}

::ng-deep .custom-paginator .mat-paginator-container {
    justify-content: space-between;
    padding: 1rem;
}

::ng-deep .custom-paginator .mat-paginator-page-size {
    align-items: center;
}

::ng-deep .custom-paginator .mat-paginator-range-actions {
    margin-left: auto;
}

::ng-deep .custom-paginator .mat-paginator-page-size-label {
    color: #666;
    font-weight: 500;
}

::ng-deep .custom-paginator .mat-paginator-range-label {
    color: #666;
    margin: 0 1rem;
}

::ng-deep .custom-paginator .mat-paginator-navigation-previous,
::ng-deep .custom-paginator .mat-paginator-navigation-next {
    color: #6163f8;
}

::ng-deep .custom-paginator .mat-paginator-icon {
    fill: #6163f8;
}

::ng-deep .custom-paginator .mat-select-value {
    color: #333;
}

::ng-deep .custom-paginator .mat-select-arrow {
    color: #666;
}

/* Información de paginación */
.pagination-info {
    text-align: left;
    color: #666;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
    .table-container {
        font-size: 0.8rem;
    }

    ::ng-deep .custom-paginator .mat-paginator-container {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }

    ::ng-deep .custom-paginator .mat-paginator-range-actions {
        margin-left: 0;
    }

    .pagination-info {
        font-size: 0.8rem;
    }
}
